// Define colors scss variables here.
$color-white: #ffffff;
$color-white-1: #f1f1f1;
$color-white-2: #f4f9ff;
$color-black: #000000;
$color-grey: #565656;

$color-grey-1: #808080;
// $color-grey-1:

$color-grey-50: #757575;

$color-blue: #2639ed;

$color-blue-1: #3b5998;
$color-blue-2: #55acee;
$color-blue-3: #007ab9;
