@import '../config.all';

.astudio__business-container {
  display: flex;
  align-items: center;
  margin-top: 14rem;
  background-repeat: repeat;
  background-position: right;
  background-image: url('.../../../../../images/Rectangle 24.png');
  margin-left: 14px;
  padding-left: 14px;
  padding-top: 33px;
  border-radius: 30px;

  @include breakpoint($tablet) {
    margin-top: 0;
    background-repeat: no-repeat;
  }
  @include breakpoint($desktop) {
    margin-top: 0;
    background-repeat: no-repeat;
  }
}
.astudio__business-title {
  // @include breakpoint($mobile) {
  //   position: absolute;
  //   top: 81rem;
  // }
  position: absolute;
  top: 68rem;
  h2 {
    width: 358px;
    @include heading-1();
  }
  p {
    width: 396px;
    @include text-1();
  }

  @include breakpoint($tablet) {
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
    top: -6rem;
    display: none;
  }
  @include breakpoint($desktop) {
    position: absolute;
    top: 75rem;
    margin-left: 120px;
  }
}

.astudio__business-trImg {
  display: none;
  @include breakpoint($desktop) {
    @include business-card-trImg();
  }
}

.astudio__business-dotImg {
  @include breakpoint($desktop) {
    @include business-card-dotImg();
  }
}
.astudio__business-cards {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  margin-top: 0;

  @include breakpoint($tablet) {
    // width: 50%;
    margin-left: auto;
    display: grid;
    grid-template-columns: 20rem 20rem;
    margin-right: 85px;
    margin-top: 124px;
    & div:first-child {
      margin-top: 75px;
    }
    & div:nth-child(3) {
      margin-top: 30px;
    }
    & div:last-child {
      margin-top: -36px;
    }
  }

  @include breakpoint($desktop) {
    width: 50%;
    margin-left: auto;
    display: grid;
    grid-template-columns: 20rem 20rem;
    margin-right: 85px;
    margin-top: 124px;
    & div:first-child {
      margin-top: 75px;
    }
    & div:nth-child(3) {
      margin-top: 30px;
    }
    & div:last-child {
      margin-top: -36px;
      // }
    }
  }

  .astudio__business-card {
    // width: 308px;

    @include business-card();
    padding-top: 55px;
    h2 {
      @include heading();
      text-align: center;
      padding-top: 31px;
      margin: 0;
    }

    p {
      @include text-grey();
      text-align: center;
      margin: 0;
      padding-top: 17px;
    }

    @include breakpoint($tablet) {
      padding-top: 0;
      &-img {
        @include bg-square-card();
        &-img1 img {
          position: relative;
          top: 4rem;
          left: 1.6rem;
          text-align: center;
        }
      }
    }
    @include breakpoint($desktop) {
      padding-top: 0;
      &-img {
        @include bg-square-card();
        &-img1 img {
          position: relative;
          top: 4rem;
          left: 1.6rem;
          text-align: center;
        }
      }
    }
  }
}
