@import '../config.all';

.astudio__cs {
  margin: 0 14px 0 14px;
  @include breakpoint($tablet) {
    display: flex;
    align-items: center;
  }
  @include breakpoint($desktop) {
    @include d-flex;
    justify-content: center;
  }
  @include breakpoint($desktop) {
    &-img1 {
      @include cs-trImg();
    }
    &-img2 {
      @include cs-trImg2();
    }
  }

  &-block1 {
    h2 {
      @include heading-1();
      @include breakpoint($tablet) {
        margin-bottom: 30px;
      }
      @include breakpoint($desktop) {
        margin-bottom: 40px;
      }
    }
    p {
      @include text-1();
    }
    button {
      width: 100%;
      @include button();
      @include breakpoint($tablet) {
        margin-top: 30px;
      }
      @include breakpoint($desktop) {
        width: 215px;
        margin-top: 33px;
      }
    }

    @include breakpoint($tablet) {
      margin-right: 30px;
    }
    @include breakpoint($desktop) {
      margin-left: 120px;
    }
  }

  &-block2 {
    @include breakpoint($tablet) {
      display: flex;
      flex-direction: column;
    }
  }
  @include breakpoint($tablet) {
    display: flex;
    flex-direction: column;
  }
}
