@import '../config.all';

.astudio__dp {
  display: block;
  h2 {
    @include heading-1();
  }
  p {
    @include text-1();
  }
  @include breakpoint($tablet) {
    display: block;
    // display: flex;
    // align-items: center;
    margin: 60px 0 0 0;
    h2 {
      width: 473px;
    }
  }
  @include breakpoint($desktop) {
    @include d-flex();
    margin-left: 120px;
    // margin-top: 110px;
    justify-content: center;
    h2 {
      margin: 24px 183px 30px 0;
    }
    p {
      margin-right: 120px;
    }
  }

  &-block1 {
    &-img img {
      width: 401px;
      @include breakpoint($tablet) {
        width: 100%;
        margin-left: -30px;
      }
    }

    &-videoIcon {
      @include dp-videoIcon();

      @include breakpoint($tablet) {
        @include dp-videoIcon();
        left: 18rem;
        top: 16rem;
      }
    }

    @include breakpoint($desktop) {
      &-img img {
        width: 550px;
        height: 372px;
      }
    }
  }

  &-block2 {
    @include breakpoint($tablet) {
      margin-left: 14px;
      margin-right: 14px;
    }
    @include breakpoint($desktop) {
      margin-left: 60px;
      // &-trimImg {
      //   @include digital-product-trimImg();
      // }
    }
  }
}

.roundImg {
  @include dp-roundImg();

  @include breakpoint($tablet) {
    // @include dp-roundImg();
    // top: 37rem;
    // left: 36rem;
    display: none;
  }
}
