@import '../config.all';

.astudio__dp {
  display: block;
  margin: 0 14px 0 14px;
  h2 {
    @include heading-1();
    margin: 0;
  }
  p {
    @include text-1();
  }
  @include breakpoint($tablet) {
    display: grid;
    grid-template-columns: 440px 1fr;
    align-items: center;
  }
  @include breakpoint($desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 80 0 80;
  }

  @include breakpoint($large-desktop) {
    margin: 0 120px 0 120px;
  }

  &-block1 {
    &-img img {
      height: 100%;
      width: 100%;
    }

    &-videoIcon {
      @include dp-videoIcon();

      @include breakpoint($tablet) {
        @include dp-videoIcon();
        left: 18rem;
        top: 16rem;
      }
    }
  }

  &-block2 {
    @include breakpoint($tablet) {
      margin-top: 34px;
    }
    @include breakpoint($desktop) {
      margin-left: 41px;
      margin-top: auto;
      margin-bottom: auto;
      &-trimImg {
        @include digital-product-trimImg();
      }
    }
  }
}

.roundImg {
  @include dp-roundImg();

  @include breakpoint($tablet) {
    display: none;
  }
}
