@import '../config.all';

.astudio__footer-container {
  display: block;
  margin-left: 14px;
  padding-left: 0;
  &-li {
    list-style: none;
    margin-right: 50px;
    a {
      @include text();
      text-decoration: none;
    }
  }
  &-ul {
    margin-top: 24px;
    padding: 0;
  }

  .menu-level-0 {
    > a {
      font-size: 20px;
      font-weight: 400;
      line-height: 28px;
      color: $color-black;
    }
  }
  @include breakpoint($tablet) {
    display: flex;
    flex-wrap: wrap;
  }
  @include breakpoint($desktop) {
    @include d-flex-end();
    align-items: center;
  }
}

.astudio__footer-menu_container {
  position: absolute;
  left: 2rem;
  &-des {
    margin-right: 120px;
  }
  &-des p {
    margin-right: 120px;
  }
  &-links {
    display: flex;
    a {
      text-decoration: none;
    }
  }
}

.astudio__footer-container-block {
  margin-left: 14px;
  &-descrip {
    @include text-small();
    width: 270px;
  }
  &-sociallinks {
    a[href*='facebook'] {
      background-color: $color-blue-1;
      @include bg-icon();
      content: url('.../../../../../images/fb-new.png');
    }

    a[href*='twitter'] {
      background-color: $color-blue-2;
      @include bg-icon();
      content: url('.../../../../../images/tw-new.png');
    }
    a[href*='linkedin'] {
      background-color: $color-blue-3;
      @include bg-icon();
      content: url('.../../../../../images/lk-new.png');
    }
    div {
      display: flex;
    }
    a {
      text-decoration: none;
    }

    .footer__links {
      margin-top: 40px;
    }
  }
  @include breakpoint($desktop) {
    position: relative;
    top: 15rem;
    margin-left: 80px;
  }

  @include breakpoint($large-desktop) {
    margin-left: 120px;
  }
}

.footer__line {
  &-below {
    border: 1px solid $color-white-1;
    margin-top: 29px;
    margin-right: 120px;
  }

  &-above {
    border: 1px solid $color-white-1;
    margin-bottom: 60px;
    margin-right: 120px;
  }
}
.astudio__footer-secondary {
  @include text-small();
  text-align: center;
  padding-top: 117px;
  padding-bottom: 23px;
}
