@import '../config.all';

.astudio__site-logo {
  // display: none;
  @include breakpoint($desktop) {
    position: absolute;
    left: 7.1rem;
  }
}

.astudio__menu-link {
  @include list-clear();
  &-a {
    @include text-black();
    letter-spacing: 0.1em;
    @include link-clear();
  }

  @include breakpoint($desktop) {
    @include d-flex-end();
    @include list-clear();
    margin-top: 26px;

    &-li {
      margin-right: 20px;
    }

    &-a {
      @include text-black();
      letter-spacing: 0.1em;
      @include link-clear();
    }
  }
}
