@import '../config.all';

.astudio__oc {
  display: flex;
  margin: 120px 120px 0 120px;
  &-block1 {
    h2 {
      @include heading-1();
      margin-bottom: 17px;
      margin-top: 16px;
    }
    p {
      @include text-2();
      margin: 17px 60px 0 0;
    }
  }

  &-block2 {
    @include breakpoint($mobile) {
      width: 30%;
    }
  }
  .ourclient-images {
    display: flex;
    align-items: center;
    padding-top: 75px;
    .ourclient-img {
      margin-left: 60px;

      @include breakpoint($mobile) {
        margin-top: 30px;
        margin-bottom: 12px;
      }
    }
    .ourclient-img:last-child {
      padding-top: 10px;
    }
    @include breakpoint($mobile) {
      flex-direction: column;
      padding-top: 0;
    }
  }

  @include breakpoint($mobile) {
    flex-direction: column;
    margin-left: 14px;
    margin-right: 0;
    margin-top: 30px;
  }
}
