@import '../config.all';

.astudio__oc {
  margin: 60px 14px 0;
  &-block1 {
    h2 {
      @include heading-1();
    }
    p {
      @include text-2();

      @include breakpoint($desktop) {
        margin-right: 60px;
      }
    }
  }

  &-block2 {
    .ourclient-images {
      display: flex;
      flex-wrap: wrap;
      .ourclient-img {
        margin-right: 20px;

        @include breakpoint($desktop) {
          margin-right: 60px;
        }
      }
      @include breakpoint($tablet) {
        justify-content: space-around;
        align-items: self-end;
      }
      @include breakpoint($desktop) {
        flex-wrap: nowrap;
      }
    }
  }

  @include breakpoint($tablet) {
    display: flex;
    align-items: center;
  }

  @include breakpoint($desktop) {
    display: flex;
    align-items: center;
    margin: 136px 120px 0 120px;
  }
}
