@import '../config.all';

.astudio-newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-white-2;
  border-radius: 75px;
  margin: 0 123px 0 120px;

  &-b1 {
    h2 {
      @include heading-1();
      margin: 98px 0 17px 0;
    }
    p {
      @include text-2();
      margin-bottom: 99px;
    }
  }

  &-b2 {
    &-dotImg {
      position: absolute;
      z-index: -5;
      top: -5rem;
      left: 22rem;
      width: 175px;
      height: 154px;
      background-image: url('.../../../../../images/Dot 1.png');
    }
    position: relative;
    left: 12.5rem;
    background-image: url('.../../../../../images/Rectangle 31.png');
    background-repeat: no-repeat;
    height: 292px;
    width: 543px;
    &-input {
      input {
        height: 80px;
        border: 1px solid $color-white-1;
        border-radius: 60px;
        margin-left: -95px;
        margin-top: 106px;
        box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.15);

        // @include breakpoint($mobile) {
        //   width: 60%;
        // }
      }
      ::-webkit-input-placeholder {
        @include text-grey();
      }
    }
    &-button {
      width: 121px;
      background: $color-blue;
      border-radius: 60px;
      padding: 20px 40px;
      text-align: center;
      position: relative;
      top: -4.4rem;
      left: 11rem;
      a {
        @include link-clear();
        color: $color-white;
        font-family: $font-primary;
      }
    }
  }
}

.bgcutImg {
  height: 178px;
  width: 178px;
  position: relative;
  top: 21rem;
  left: 4rem;
  z-index: -5;
  background: url('.../../../../../images/Rectangle 32.png');
}
