@import '../config.all';

.astudio__oh {
  margin-top: 117px;
  text-align: center;

  h2 {
    @include heading-1();
    margin: 0;
  }

  p {
    @include text-2();
    margin: 17px 0 0 0;
  }

  @include breakpoint($mobile) {
    margin: 50px 20px 0;
  }
}
