@import '../config.all';

.astudio__oh {
  margin: 50px 14px 0 14px;

  h2 {
    @include heading-1();
    margin: 0;
  }

  p {
    @include text-2();
    margin: 17px 0 0 0;
  }
  @include breakpoint($tablet) {
    margin-top: 40px;
    text-align: center;
  }
  @include breakpoint($desktop) {
    margin-top: 0;
    text-align: center;
  }
}
